body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    position: absolute;
    left: 0;
    width: 220px;
    height: 100%
}

    .sidebar nav ul {
        list-style: none;
        padding: 0;
    }

        .sidebar nav ul li {
            padding: 10px;
        }

            .sidebar nav ul li a {
                color: #fff;
                text-decoration: none;
            }

.content {
    flex: 1;
    padding: 20px;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.lead {
    font-size: 1.2em;
    line-height: 1.6;
}

.sidebar nav ul li:hover {
    background-color: #444;
}
